{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container ">
    <div class="row card">
        <h1 class="mybg cent">
            Introduction:
        </h1>
        <h5 class="p-2">
            I am a self stater, a fast learner and I am a hard worker. I have backgrounds in customer service,
            management roles,
            warehouse, e-commerce, inventory control, software development. I enjoy learning new skills and leading
            by example. I am
            a self-taught programer in Python and currently a student for a bachelor's in computer science.
        </h5>
        <h4 class="">Contact:</h4>
        <h6 class=""><strong>Email:</strong> zele713@gmail.com</p>
            <h6 class=""><strong>Phone Number:</strong>(951)-532-1362 </h6>
    </div>
        <h1 class="mt-5 cent mybg">Experices:</h1>
        </div>
        <div class="container ">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6 card-header ">
                <h5 class="m1">
                    <p> <strong>Role: </strong>Ecommerce Product Manager</p>
                    <p class=""> <strong> <strong>Company: </strong>Y&A Group LLC - Gardena, CA</strong></p>
                    <p><strong>Date Range:</strong> April 2020 to August 2021</p>
                    <strong>Detail: </strong>
                    <p class="">
                        I was the only employee the owner had. (this was a warehouse job where we buy and sell on all
                        e-commerce platforms. My
                        duties were receive products, test products, clean and take pictures, pst products on ebay,
                        bonanza, Amazon, Walmart
                        and ship orders, handle and resolve customer problems. Using Django models with Python I created
                        an inventory system to
                        manage products.
                    </p>
                </h5>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 card-header">
                <h5 class="m1">
                <p> <strong>Role: </strong>Ecommerce Product Manager</p>
                <p> <strong>Company: </strong> UPS - Lenexa, KS</p>
                <p><strong>Date Range: </strong> July 2018 to September 2019</p>
                <strong>Detail: </strong>

                <p class="">
                    I started as a loader, but I was promoted to a sort-isle supervisor. As the supervisor for the
                    sorting isle, I managed
                    12 to 15 employees per night. My duties were Inspecting equipments, demonstrate safe pfting and
                    lower methods, and
                    handpng hazards materials, manage each employee hours, employee payroll hours entry adjustments,
                    communicated through
                    radio to solve problems that occur. ill out paper work at the beginning of shift and at end of
                    shift for inspections on
                    equipment and employees.
                </p>
                </h5>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 card-header">
                <h5 class="m1">
                <p> <strong>Role: </strong> Ecommerce Product Manager</p>
                <p> <strong>Company: </strong>Y&A Group LLC - Gardena, CA </p>
                <p><strong>Date Range: </strong>April 2020 to August 2021 </p>
                <strong>Detail: </strong>
                <p class="">
                    I was the only employee the owner had. (his was a warehouse job where we buy and sell on all
                    e-commerce platforms.
                    My
                    duties were receive products, test products, clean and take pictures, pst products on ebay,
                    bonanza, Amazon,
                    Walmart
                    and ship orders, handle and resolve customer problems. Using Django models with Python I created
                    an inventory system
                    to
                    manage products.
                </p>
                </h5>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
<div class="row">
    <h1 class="cent mybg"> Skill:</h1>

    <div class=" col col-sm-12 col-md-6 col-lg-6 cent  mt-2 cent">
            <img height="400px" width="400px" src="{% static 'img/software-programming.png' %}" alt="certification">
    </div>
    <div class=" col col-sm-12 col-md-6 col-lg-6 cent  mt-2 cent">
        <img height="400px" width="400px" src="{% static 'img/software-architecture.png' %}" alt="certification">
    </div>
   
    <div class="card cent col-sm-12 col-md-6 col-lg-6">
        <h5><strong class="card-body">Software: Back-end languages</strong></h5>
        <a href="" class="btn">Python </a>
        <a href="" class="btn">Java </a>
        <a href="" class="btn">JavaScript & NodeJS </a>
    </div>

    <div class="cent card col-sm-12 col-md-6 col-lg-6">
        <h5><strong class="">Data Mangment:</strong></h5>
        <a href="" class="btn">Postgerse </a>
        <a href="" class="btn">MySQL </a>
        <a href="" class="btn">React </a>
    </div>
    <div class="cent card col-sm-12 col-md-6 col-lg-6">
        <h5><strong class="">UI: Front-end tools</strong></h5>
        <a href="" class="btn">CSS </a>
        <a href="" class="btn">Html </a>
        <a href="" class="btn">JavaScript & jQuery</a>
    </div>
    <div class="card cent col-sm-12 col-md-6 col-lg-6">
        <h5><strong>Frameworks & Tools </strong></h5>
        <a href="" class="btn">Django </a>
        <a href="" class="btn">Git </a>
        <a href="" class="btn">React </a>
        <a href="" class="btn">jQuery </a>
        <a href="" class="btn">Bootstrap </a>
        <a href="" class="btn">GitHub </a>
        <a href="" class="btn">Angular</a>
    </div>
    </div>
    </div>
    <hr>
    </div>
</div>
</div>
<div class="container dark-grey-text mt-5">

    <h1 class="md-3 cent mybg"> Education & Certifications: </h1>

        <!--Grid row-->
        <div class="row wow fadeIn cent">

            <!--Grid column-->
            <div class="col-md-6 mb-4 ml-2">
                <img height="300px" width="300px" src="{% static 'img/woz-u-certification.png' %}" alt="certification">
            </div>
            <!--Grid column-->
            <div class="col-md-6 mb-4 ml-2">
                <img height="300px" width="300px" src="{% static 'img/Python_Developer_Certification.png' %}" alt="certification">
            </div>
            <div class="col-md-6 mb-4 ml-2">
                <img height="300px" width="300px" src="{% static 'img/IMG_0127.JPG' %}" alt="certification">

            </div>
            <!--Grid column-->
            <div class="col-md-6 mb-4 p-4">

                <div class="jumbotron mt-2 cent " width="400px">
                    <p> <strong>Central Heights High Scool: <br></strong> </p>
                    August 2012 - May 2016:
                    High School Diploma
                    </p>
                </div>
                <div class="p-4">
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

   
        </div>
    </div>
</div>



{% endblock %}